@import "../../variables.module.scss";

.playerDark {
  & a {
    text-decoration: none;
  }
  & a:hover {
    color: $darkPlayerHoverFocusLinkColor;
  }
  & a:focus {
    color: $darkPlayerHoverFocusLinkColor;
  }
}
.playerLight {
  & a {
    text-decoration: none;
  }
  & a:hover {
    color: $lightPlayerHoverFocusLinkColor;
  }
  & a:focus {
    color: $lightPlayerHoverFocusLinkColor;
  }
}
