.form_post button {
  width: 75px;
  height: 30px;
  margin-bottom: 7px;
}

.form_post button:active {
  background-color: white;
}

.formSummaryError {
  color: red;
  width: 250px;
  margin: 0;
  font-family: verdana;
  font-size: 12px;
}
