@import "../../variables.module.scss";

header {
  background-color: $headerColor;
  color: $lightNormalTextColor;
  height: 60px;
}

.headerMiddle {
  max-width: 1200px;
}

@media (max-width: 1200px) {
  .headerMiddle {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .headerMiddle {
    max-width: 753px;
  }
}
@media (max-width: 767px) {
  .headerMiddle {
    max-width: none;
  }
}

.loginBlock {
  float: right;
  font-size: 18px;
}

.loginBlock a {
  text-decoration: none;
  color: white;
}
.loginBlock a:active {
  text-decoration: none;
  color: #359eff;
}
.userloginName {
  margin: 0;
}

.navLogin {
  color: white;
}

.musicPlayerBlock {
  position: relative;
  display: inline-block;
  margin-left: 207px;
  font-family: "Comic Sans MS";
  font-size: 14px;
  width: 463px;
  margin-top: 4px;
}

.smallTitleSize {
  font-size: 13px;
}

@media (max-width: 767px) {
  .musicPlayerBlock {
    margin: 0;
    display: inline-block;
    width: 356px;
    margin-top: 6px;
  }
  .bigTitleSize {
    font-size: 13px;
  }
  .smallTitleSize {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .musicPlayerBlock {
    width: 65%;
    margin: 0;
  }
  .bigTitleSize {
    font-size: 10.5px;
  }
}
@media (max-width: 280px) {
  .bigTitleSize {
    font-size: 11px;
  }
  .smallTitleSize {
    font-size: 7.5px;
  }
}
