header {
  background-color: #001529;
  color: white;
  height: 60px;
}

.headerMiddle {
  max-width: 1200px;
}

@media (max-width: 1200px) {
  .headerMiddle {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .headerMiddle {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .headerMiddle {
    max-width: 600px;
  }
}

.logout {
  grid-area: r;
}

.loginBlock {
  float: right;
  margin-right: 10px;
  font-size: 25px;
  margin-top: 12px;
}

.loginBlock a {
  text-decoration: none;
  color: white;
}
.loginBlock a:active {
  text-decoration: none;
  color: #359eff;
}

.logoutBtn {
  margin-left: 10px;
}
