$headerColor: #001529;

$lightNormalTextColor: white;
$lightActiveTextColor: #359eff;

$lightBackgroundColor: #1c1b19;
$lightBackgroundTextColor: #f0f2f5;
$lightBackgroundButtonColor: #f0f2f5;
$lightBackgroundButtonColor: #1890ff;

$darkNormalTextColor: #5e5e5e;
$darkActiveTextColor: black;
$darkActiveLinkColor: #f44647;

$darkBackgroundColor: #1c1b19;
$darkBackgroundInputColor: #5e5e5e;
$darkBackgroundButtonColor: #5e5e5e;
$darkBackgroundActiveButtonColor: #f44647;
