.dialogs {
  color: #777777;
  display: grid;
  grid-template-areas: "dialogs usermessage";
  grid-template-columns: 1fr 5fr;
  width: 100%;
  margin: 0 auto;
  grid-gap: 10px;
}

.dialogsItems {
  background-color: white;
  height: min-content;
  font-size: 20px;
  min-width: 200px;
}

.dialog {
  padding-left: 3px;
  grid-area: usermessage;
}
