.item {
  grid-area: "message";
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-areas: "a";
  grid-template-columns: 65px 1fr;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  grid-area: a;
}

.message {
  margin: 5px;
}

.form_message button {
  margin-left: 40px;
}

.form_message button:active {
  background-color: white;
}

.formSummaryError {
  color: red;
  width: 250px;
  margin: 0;
  font-family: verdana;
  font-size: 12px;
}
