.item {
  grid-area: ui;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-areas: "a";
  grid-template-columns: 65px 1fr;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  grid-area: a;
}

.form_message {
  margin: 5px;
}

.form_message textarea {
  height: 35px;
  background-color: #777777;
  color: white;
  border-radius: 3px;
  border: none;
  resize: none;
}
.form_message button {
  background-color: #777777;
  border-radius: 3px;
  margin-left: 25%;
  border: none;
}

.form_message button:active {
  background-color: white;
}

